In [1]:
#1. Creating a 2x3 matrix using cbind() or rbind() function
A<- (1:3)

In [2]:
B <- (4:6)

In [3]:
matrix <- rbind(A,B)

In [4]:
matrix

  [,1] [,2] [,3]
A 1    2    3
B 4    5    6

In [6]:
#2. Creating a 3x3 matrix
mat <- matrix(1:9, byrow=FALSE, nrow=3)

In [7]:
mat

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [8]:
#3. Confirming that mat is a matrix
is.matrix(mat)

[1] TRUE

In [10]:
#4. Creating a mat2 matrix
mat2 <- matrix(1:25, byrow=TRUE, nrow=5)

In [11]:
mat2

     [,1] [,2] [,3] [,4] [,5]
[1,]  1    2    3    4    5
[2,]  6    7    8    9   10
[3,] 11   12   13   14   15
[4,] 16   17   18   19   20
[5,] 21   22   23   24   25

In [12]:
#5. Grabbing a subsection of mat 2 that replicates the given output
mat2[2:3,2:3]

     [,1] [,2]
[1,]  7    8
[2,] 12   13

In [13]:
#6. Grabbing a subsection of mat 2 that replicates the given output
mat2[4:5,4:5]

     [,1] [,2]
[1,] 19   20
[2,] 24   25

In [14]:
#7. Summing of all of the elements of mat2
sum(mat2)

[1] 325

In [16]:
#8. Use of run(if) function to create 4x5 matrix consisting of random numbers between 1 and 100.
mat3<-matrix(runif(20,min=1,max=100),nrow=4)

In [17]:
mat3

     [,1]     [,2]     [,3]     [,4]     [,5]
[1,] 53.95592 27.61299 28.64403 69.54066 58.32228
[2,] 93.25245 27.62762 42.99054 44.14312 97.24164
[3,] 73.76363 62.84562 56.65628 76.73041 55.48287
[4,] 27.10013 53.42659 24.05952 34.26331 79.07314