In [1]:
#1. Creating a 2x3 matrix using cbind() or rbind() function
A<- (1:3)

In [2]:
B <- (4:6)

In [3]:
matrix <- rbind(A,B)

In [4]:
matrix

  [,1] [,2] [,3]
A 1    2    3
B 4    5    6

In [11]:
#2. Creating a 3x3 matrix
mat <- matrix(1:9, byrow=FALSE, nrow=3)

In [12]:
mat

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [13]:
#3. Confirming that mat is a matrix
class(mat)

[1] "matrix"

In [14]:
#4. Creating a mat2 matrix
mat2 <- matrix(1:25, byrow=TRUE, nrow=5)

In [15]:
mat2

     [,1] [,2] [,3] [,4] [,5]
[1,]  1    2    3    4    5
[2,]  6    7    8    9   10
[3,] 11   12   13   14   15
[4,] 16   17   18   19   20
[5,] 21   22   23   24   25

In [18]:
#5. Grabbing a subsection of mat 2 that replicates the given output
mat2[2:3,2:3]

     [,1] [,2]
[1,]  7    8
[2,] 12   13

In [19]:
#6. Grabbing a subsection of mat 2 that replicates the given output
mat2[4:5,4:5]

     [,1] [,2]
[1,] 19   20
[2,] 24   25

In [22]:
#7. Summing of all of the elements of mat2
sum(mat2)

[1] 325

In [73]:
#8. Use of run(if) function to create 4x5 matrix consisting of random numbers between 1 and 100.
NRows=4
NCols=5
mat3<-matrix(runif(NRows*NCols,1,100),ncol=NCols)

In [74]:
mat3

     [,1]     [,2]     [,3]     [,4]     [,5]
[1,] 37.68130 90.02028 23.31114 76.98277 60.34214
[2,] 18.36920 32.20497 36.20406 97.79088 65.64138
[3,] 67.84704 47.44226 99.16627 59.64735 77.77117
[4,] 89.89496 74.24253 33.38080 25.30576 47.22635