In [ ]:
# R is a glorified calculator
3+5

In [2]:
# Subtraction
120-45

[1] 75

In [3]:
# Multiplication
12*5

[1] 60

In [4]:
# Exponents 
5^8

[1] 390625

In [5]:
# Exponents
5**8

[1] 390625

In [8]:
# Modulo (Remainder)
5%%2

[1] 1

In [9]:
# Order of operations
(100*2)+(50/2)

[1] 225

In [10]:
# Variables name <- expression
variable.name <- 50

In [11]:
variable.name

[1] 50

In [16]:
# Variables using arithmetic
bank.account <- 100

In [17]:
deposit <- 10

In [19]:
bank.account <- bank.account + deposit

In [20]:
bank.account

[1] 110

In [21]:
# Numeric - Floating point value (float means decimal point)
n <- 2.2
    #n for numeric

In [23]:
# Numeric - Integer
i <- 5

In [24]:
# Logicals -Booleans (TRUE or FALSE)
t <- TRUE
f <- FALSE

In [28]:
# Character Values -Strings
Char <- 'Hello World'

In [29]:
c <- 'Single Quotes Work too'

In [30]:
# Class is the name of the function
class(n)

[1] "numeric"

In [31]:
class (t)

[1] "function"

In [33]:
class(f)

ERROR: Error in eval(expr, envir, enclos): object 'f' not found

In [36]:
class(c)

[1] "character"

In [37]:
class(i)

[1] "numeric"

In [38]:
'hello'

[1] "hello"

In [39]:
'This is also a string'

[1] "This is also a string"

In [40]:
"String built double quotes"

[1] "String built double quotes"

In [41]:
'I'm using single quotes, but this will create an error'
# It create error message becasue there is 'I'm which R can't read'

ERROR: Error in parse(text = x, srcfile = src): <text>:1:4: unexpected symbol
1: 'I'm
       ^

In [42]:
# No. of character involved in the string
nchar ('Hello World')

[1] 11

In [44]:
# Print function within a string
print ('This is printed text using print ()')

[1] "This is printed text using print ()"

In [45]:
"This is printed text using print ()"

[1] "This is printed text using print ()"

In [46]:
s = 'Printed Text'

In [49]:
# Print but needs some formatting while doing so
# %s trying to format what we want
sprintf ('This string will include %s', s)

[1] "This string will include Printed Text"

In [50]:
sprintf ('This string will include %s', 'additional text')

[1] "This string will include additional text"

In [51]:
string1 <- 'additional text'
string2 <- 'at the end'
string3 <- 'of the sentence'
sprintf('This string will include %s %s %s', string1, string2, string3)
# string 1 goes in first %, string 2 in second %, and so on.

[1] "This string will include additional text at the end of the sentence"

In [53]:
#upper case (toupper is a built in function)
toupper ('Hello World')

[1] "HELLO WORLD"

In [54]:
# lower case (tolower is a built in fucntion)
tolower ('Hello World')

[1] "hello world"

In [56]:
# Splitting
strsplit ('Hello World',"")

[[1]]
 [1] "H" "e" "l" "l" "o" " " "W" "o" "r" "l" "d"

In [58]:
# Vector
# Built in c. c refers to combine
# We want to create a variable nvec
nvec <- ('1,2,3,4,5')

In [59]:
nvec

[1] "1,2,3,4,5"

In [60]:
# Defining class
class (nvec)

[1] "character"

In [65]:
# Inverted commas are used to define character
cvec <- ('N,C,S,U')

In [66]:
cvec

[1] "N,C,S,U"

In [67]:
lvec <- c(TRUE, FALSE)

In [68]:
class(lvec)

[1] "logical"

In [69]:
v <- c (FALSE, 2)

In [70]:
v

[1] 0 2

In [71]:
class(v)

[1] "numeric"

In [72]:
# use of list function
ilist <- list ('A', 1, TRUE)

In [73]:
ilist

[[1]]
[1] "A"

[[2]]
[1] 1

[[3]]
[1] TRUE

In [74]:
# class
class(ilist)

[1] "list"

In [77]:
# Assign names to the input of the vectors
# Name function
name()

ERROR: Error in name(): could not find function "name"

In [80]:
temps1 <- c(73, 78, 76, 83, 69, 89)

In [81]:
temps1

[1] 73 78 76 83 69 89

In [89]:
# Define names
names(temps1) <- c('Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat')

In [90]:
temps1

  Mon   Tue   Wed Thurs   Fri   Sat
   73    78    76    83    69    89

In [93]:
# Define varibles of names
days <- c('Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat')
temps2 <- c(81, 79, 91, 78, 79, 67)

In [96]:
names(temps2) <- days

In [97]:
names(temps2)

[1] "Mon"   "Tue"   "Wed"   "Thurs" "Fri"   "Sat"

In [98]:
# Vector Operations
v1 <- c(1,2,3)
v2 <- c(5,6,7)

In [99]:
v1+v2

[1]  6  8 10

In [100]:
v2-v1

[1] 4 4 4

In [101]:
v1/v2

[1] 0.2000000 0.3333333 0.4285714

In [102]:
v1*v2

[1]  5 12 21

In [103]:
#Sum funtion
sum (v1)

[1] 6

In [112]:
V <- c(12,45,100,2)

In [113]:
# Standard deviation
sd(V)

[1] 44.16918

In [114]:
# Variance
var(V)

[1] 1950.917

In [115]:
# Maximum Value/Element
max(V)

[1] 100

In [116]:
# Minimum Element
min(V)

[1] 2

In [117]:
# Product of Elements
prod(v1)

[1] 6

In [118]:
prod(v2)

[1] 210

In [119]:
6>=6

[1] TRUE

In [120]:
6 >= 5

[1] TRUE

In [121]:
6 >= 7

[1] FALSE

In [122]:
3 <= 8

[1] TRUE

In [123]:
3 <= 2

[1] FALSE

In [124]:
3 <= 3

[1] TRUE

In [127]:
var <- 1

In [128]:
var

[1] 1

In [129]:
var < -2

[1] FALSE

In [131]:
var <- 2

In [132]:
5==5

[1] TRUE

In [133]:
2==3

[1] FALSE

In [134]:
5!=2

[1] TRUE

In [135]:
5 != 5

[1] FALSE

In [136]:
v <- c(1,2,3,4,5)

In [137]:
v < 2

[1]  TRUE FALSE FALSE FALSE FALSE

In [139]:
v == 3

[1] FALSE FALSE  TRUE FALSE FALSE

In [140]:
v1 <- c (100,200,300)
v2 <- c ('a','b','c')

In [141]:
v1

[1] 100 200 300

In [142]:
v2

[1] "a" "b" "c"

In [143]:
v1
v2

[1] 100 200 300

[1] "a" "b" "c"

In [144]:
# Grab the first element from v1
v1[1]

[1] 100

In [145]:
# Grab the second element vrom v2
v2[2]

[1] "b"

In [146]:
v1[c(1,2)]

[1] 100 200

In [147]:
v2[c(2,3)]

[1] "b" "c"

In [148]:
v2[c(1,3)]

[1] "a" "c"

In [149]:
v <- c(1,2,3,4,5,6,7,8,9,10)

In [150]:
v[3:6]

[1] 3 4 5 6

In [151]:
v[7:10]

[1]  7  8  9 10

In [152]:
v <- c(1,2,3,4)
names(v) <- c('a','b','c','d')

In [153]:
v['a']

a
1

In [154]:
v[c('a','c','b')]

a c b
1 3 2

In [155]:
v['a','b']

ERROR: Error in v["a", "b"]: incorrect number of dimensions

In [156]:
v

a b c d
1 2 3 4

In [157]:
v>2

    a     b     c     d
FALSE FALSE  TRUE  TRUE

In [158]:
v[v>2]

c d
3 4

In [159]:
filter <- v>2

In [160]:
filter

    a     b     c     d
FALSE FALSE  TRUE  TRUE

In [161]:
v[filter]

c d
3 4