In [1]:
# R is a glorified calculator
3+5

[1] 8

In [2]:
# Subtraction
120-45

[1] 75

In [3]:
# Multiplication
12*5

[1] 60

In [4]:
# Exponenets
5^8

[1] 390625

In [5]:
# Exponents (Second Method)
5**8

[1] 390625

In [6]:
# Modulo (Remainder)
5%%2

[1] 1

In [7]:
# Order of operations 
(100*2)+(50/2)

[1] 225

In [10]:
# Varaibles name <- expression
Variable.name <- 50

In [11]:
Variable.name

[1] 50

In [12]:
# Variables using arithmetic
bank.account <-100

In [13]:
deposit <- 10

In [15]:
bank.account <- bank.account + deposit

In [16]:
bank.account

[1] 110

In [17]:
# Numeric - Floating point value (float means decimal point)
n <- 2.2
    # n for numeric

In [18]:
# Numeric - Integer
i <- 5

In [19]:
# Logicals  - Booleans (TRUE and FALSE)
t <- TRUE
f <- FALSE

In [21]:
# Character Values - Strings
Char <- Hello World

ERROR: Error in parse(text = x, srcfile = src): <text>:2:15: unexpected symbol
1: # Character Values - Strings
2: Char <- Hello World
                 ^

In [22]:
c <- 'Single Quotes Work too'

In [23]:
# Class is the name of the function
class(n)

[1] "numeric"

In [24]:
class(t)

[1] "logical"

In [25]:
class (f)

[1] "logical"

In [27]:
class (i)

[1] "numeric"

In [28]:
'hello'

[1] "hello"

In [29]:
'This is also a string'

[1] "This is also a string"

In [30]:
"String built double quotes"

[1] "String built double quotes"

In [31]:
'I'm using single quotes, but this will create an error'
# It create error message because thre is 'I'm'whihc R can't read.

ERROR: Error in parse(text = x, srcfile = src): <text>:1:4: unexpected symbol
1: 'I'm
       ^

In [32]:
# No. of character involved in the string
nchar ('Hello World')

[1] 11

In [33]:
# Print function within a string
print ('This is printed text using print ()')

[1] "This is printed text using print ()"

In [34]:
s = 'Printed Text'

In [35]:
# Print but needs some formatting while doing so
# %s trying to format what we want
sprintf('This string will include %s', s)

[1] "This string will include Printed Text"

In [ ]:
sprintf('This string will include %s', 'additional text')

In [ ]:
string1